---
import "../styles/global.css";
---

<html lang="hu">
<head>
  <meta charset="UTF-8">
  <title>AGB - BioKosár</title>
</head>
<body class="max-w-3xl mx-auto p-8 font-sans">
  <h1 class="text-3xl font-semibold mb-6">Allgemeine Geschäftsbedingungen</h1>
  <p>Hier kommen die AGB rein: Zahlungsbedingungen, Lieferung, Widerrufsrecht, Haftung.</p>
</body>
</html>
