---
import "../styles/global.css";
---

<html lang="hu">
<head>
  <meta charset="UTF-8">
  <title>Impressum - BioKosár</title>
</head>
<body class="max-w-3xl mx-auto p-8 font-sans">
  <h1 class="text-3xl font-semibold mb-6">Impressum</h1>
  <p><strong>BioKosár Kft.</strong><br>
  Musterstraße 1<br>
  1234 Budapest<br><br>
  Email: info@biokosar.hu<br>
  Tel: +36 30 123 4567<br>
  USt-IdNr.: HU12345678<br>
  Vertretungsberechtigt: Max Mustermann</p>
</body>
</html>
